.marketplace-color-filters {
    .color-filter-list {
        margin-top: 3px;
        display: flex;
        flex-direction: column;
        gap: 3px;

        .color-filter {
            display: flex;
            align-items: center;
            gap: 3px;
        }
    }

    .roseal-color-group {
        display: flex;
        gap: 3px;

        .roseal-color-input {
            height: 20px !important;
            width: 20px !important;
        }
    }
}

[data-item-not-color-matched],
[data-item-not-offsale],
[data-item-not-unowned] {
    display: none !important;
}

.marketplace-creator-type-filter-new {
    padding: 12px 24px;
    width: 100%;

    .filter-option:has(&) {
        flex-wrap: wrap;
    }

    .creator-type-filter-list {
        display: flex;
        flex-direction: column;
        gap: 12px;

        .filter-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}

.item-card-container .quantity-remaining-text {
    position: absolute;
    top: 5px;
    left: 3px;
    background-color: var(--RS_PRIMARY-INVERT-BACKGROUND-COLOR);
    color: var(--RS_PRIMARY-INVERT-TEXT-COLOR);
    z-index: 1;
    border-radius: 999px;
    padding: 4px 8px;
    font-weight: bold;
}

[data-rosealfe-marketplacehidetopics] {
    .topic-container {
        display: none !important;
    }
}

.marketplace-landing-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.roseal-items-container {
    .container-title-container {
        display: flex;
        align-items: center;
        margin-bottom: -1.5em;
        margin-left: 8px;
        gap: 4px;

        .container-tooltip-container {
            &,
            .roseal-icon {
                width: 24px;
                height: 24px;
            }
        }
    }
    .container-title {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }

    .items-list-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-auto-flow: dense;
        gap: 16px;
        overflow: hidden;

        @media (max-width: 991px) {
            grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        }

        @media (max-width: 767px) {
            gap: 9px;
        }

        &.collapsed {
            grid-auto-rows: 0;
            grid-template-rows: min-content;
            max-height: max-content;
            row-gap: 0 !important;
        }
    }
}

.roseal-looks-search-list {
    grid-column: 1 / -1;
    grid-row: 3;
    margin-bottom: 3em;

    .container-title-container {
        margin-left: 0;
        margin-bottom: -1em;
    }
}

#catalog-content:has(#roseal-main-view) {
    #main-view,
    #shimmer-menu-container {
        display: none;
    }
}
